html {
    font-family: "Varela Round";
}

h1 {
    position: absolute;
    left: 45%;
    font-size: xxx-large;
    letter-spacing: 2px;
}

.game-parts {
    position: absolute;
    top: 15%;
    left: 35%;
}

.message {
    text-align: center;
    font-size: 40px;
    margin: 15px;
}

.container {
    height: 500px;
    width: 500px;
    background-color: black;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    grid-gap: 2px;
    border: 2px solid black;
}

.field {
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 80px;
}

.field:hover {
    box-shadow: 0 8px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.reset-button {
    position: absolute;
    margin: 20px;
    padding: 20px;
    margin-left: 180px;
    background-color: black;
    color: white;
    border-radius: 15px;
}

.reset-button:hover {
    cursor: pointer;
}